/* stylelint-disable block-no-empty */
.additional-item {

}

.additional-item__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-item__list {

}

.additional-item__item {

}

.additional-item__text {
  font-size: 14px;
  line-height: 14px;
}

.additional-item__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  text-decoration: none;
}

.additional-item__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  text-decoration: none;
}

