/* stylelint-disable block-no-empty */
.additional-products {

}

.additional-products__wrapper {

}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.additional-products__list {

}

.additional-products__promo {
  background-color: #808080;
}

.additional-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
