/* stylelint-disable block-no-empty */

.cooperation {

}

.cooperation__wrapper {

}

.cooperation__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__description {
  font-size: 14px;
  line-height: 20px;
}
