/* stylelint-disable block-no-empty */

.description-program {

}

.description-program__wrapper {

}

.description-program__title {

}

.description-program__list {

}

.description-program__loss-image {
  background-image: url("../../icons/stack.svg#cat-back-loss");
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.description-program__mass-image {
  background-image: url("../../icons/stack.svg#cat-back-mass");
  background-repeat: no-repeat;
  background-size: 50px 53px;
}
