/* stylelint-disable block-no-empty */
.example-calculator {

}

.example-calculator__information {

}

.example-calculator__information-description {
  font-size: 12px;
  line-height: 12px;
}

.example-calculator__information-field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
