/* stylelint-disable block-no-empty */
.hero {
  background-color: #68b738;
  position: relative;
}

.hero::after {
  background-image: image-set(url("../../images/hero-background-cat@1x.png") 1x type("image/png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 302px;
  opacity: 0.5;
  inset: 0;
  content: "";
  position: absolute;
}

.hero__wrapper {

}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.hero__paragraph {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__picture {

}

.hero__link {
  text-decoration: none;
}

.hero__link-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
