/* stylelint-disable block-no-empty */
.main-nav {

}

.main-nav__toggle {

}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {

}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
