/* stylelint-disable block-no-empty */

.main-header {

}

.main-header__links-wrapper {

}

.main-header__logo {

}

.main-header__link-text {

}

.main-header__logo-image {
  &:hover {
    opacity: 0.8;
  }
}

.main-header__link-text-image {
  &:hover {
    opacity: 0.8;
  }
}

