/* stylelint-disable block-no-empty */
.main-nav {
  position: relative;
}

.main-nav__catalog {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
