/* stylelint-disable block-no-empty */

.program-item {

}

.program-item__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-left: 80px;
  padding-top: 30px;
  padding-bottom: 29px;
}

.program-item__paragraph {
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  text-align: left;
  max-width: 227px;
  margin: 0 auto;
}

.program-item__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 38px;
  padding-bottom: 18px;
  display: block;
}
