/* stylelint-disable block-no-empty */

.site-list{

}

.site-list__item {

}

.site-list__item--current {

}

.site-list__item-link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
