/* stylelint-disable block-no-empty */

.subscribe {

}

.subscribe__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 40px;
  position: relative;

  &::after {
    content: "";
    background-color: #68b738;
    width: 108px;
    height: 2px;
    display: block;
    position: absolute;
    top: 8px;
    left: 200px;
  }
}

.subscribe__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 32px;
}

.subscribe__form {
  text-align: center;
  margin-top: 24px;
}

.subscribe__control {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #444444;
  text-transform: uppercase;
  min-width: 280px;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
}

.subscribe__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bg-basic-green;
  border: none;
  margin-top: 16px;
  min-width: 280px;
  padding: 15px 0;
}
