/* stylelint-disable block-no-empty */

.work-program {

}

.work-program__wrapper {

}

.work-program__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.work-program__list {
}
