/* stylelint-disable block-no-empty */

.work-program {

}

.work-program__wrapper {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}

.work-program__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.work-program__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-program__leaf-image {

}

.work-program__leaf-image::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../icons/stack.svg#icon-leaf-1");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.work-program__bath-image {

}

.work-program__bath-image::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../icons/stack.svg#icon-bath-2");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.work-program__eat-image {

}

.work-program__eat-image::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../icons/stack.svg#icon-eat-3");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.work-program__alarm-image {

}

.work-program__alarm-image::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../../icons/stack.svg#icon-clock-4");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
}
